@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}


body {
    .game {
        position: absolute;
        inset: 0;

        display: flex;
        flex-direction: column;
        -ms-flex-align: end;
        
        font-family: Product Sans;
            
    
        main {
            z-index: 5;

            position: relative;
            flex-basis: 100%;
            
            overflow: hidden;
            background-image: url("https://previews.123rf.com/images/scenery1/scenery11706/scenery1170600191/80858978-wood-surface-background-wood-board-white-sheet-plywood.jpg?fj=1");
            background-size: 500px;
        
    
            .canvas {
                z-index: 10;
                position: absolute;
                inset: 0;
            }
    
            
            .stopwatch {
                z-index: 100;
                visibility: hidden;

                position: absolute;
                inset: 10px auto auto 10px;
                height: 40px;
            
                font-size: 35px;
                font-weight: bold;
                color: white;
                text-shadow:
                    -2px 2px 3px #6c360f,
                    2px 2px 3px #6c360f,
                    2px -2px 0 #6c360f,
                    -2px -2px 0 #6c360f;
            }
    
    
            .pause-button {
                z-index: 100;
                visibility: hidden;
                
                position: absolute;
                inset: 10px 10px auto auto;
                height: 45px;
                aspect-ratio: 1;
            
                display: flex;
                justify-content: center;
                align-items: center;
            
                border-radius: 50%;
                font-size: x-large;
                background-color: #6c360f;
                color: white;
            }
        }


        .start-menu {
            z-index: 10;
    
            position: absolute;
            inset: 0;


            .content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                text-align: center;


                &>button {
                    margin: 10px;
                    padding: 20px;
    
                    border: solid 6px hsl(25, 76%, 24%);
                    border-radius: 20px;
                    background-color: transparent;
                    font-size: 40px;
                    font-weight: bold;
                    color: white;
                    $stroke-width: 3px;
                    $stroke-blur: 3px;
                    $stroke-color: #6c360f;
                    text-shadow:
                        -1*$stroke-width $stroke-width $stroke-blur $stroke-color,
                        $stroke-width $stroke-width $stroke-blur $stroke-color,
                        $stroke-width -1*$stroke-width $stroke-blur $stroke-color,
                        -1*$stroke-width -1*$stroke-width $stroke-blur $stroke-color;
    
                    span {
                        white-space: nowrap;
                    }
                }
    
                
                .buttons {
                    button {
                        width: 46%;
                        padding: 12px;

                        border: solid 3px #6c360f;
                        border-radius: 10px;
                        background-color: transparent;
                        color: white;
                        font-size: larger;
                        font-weight: bold;

                        $stroke-width: 2px;
                        $stroke-blur: 1px;
                        $stroke-color: #6c360f;
                        text-shadow:
                                -1*$stroke-width $stroke-width $stroke-blur $stroke-color,
                                $stroke-width $stroke-width $stroke-blur $stroke-color,
                                $stroke-width -1*$stroke-width $stroke-blur $stroke-color,
                                -1*$stroke-width -1*$stroke-width $stroke-blur $stroke-color;


                        i {
                            font-size: xx-large;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}