@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: Product Sans;
}

body * {
  margin: 0;
  padding: 0;
}

body main {
  z-index: 5;
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  background-image: url("https://previews.123rf.com/images/scenery1/scenery11706/scenery1170600191/80858978-wood-surface-background-wood-board-white-sheet-plywood.jpg?fj=1");
  background-size: 500px;
}

body main .canvas {
  z-index: 10;
  position: absolute;
  inset: 0;
}

body main .stopwatch {
  z-index: 100;
  position: absolute;
  inset: 10px auto auto 10px;
  height: 40px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-shadow: -2px 2px 3px #6c360f, 2px 2px 3px #6c360f, 2px -2px 0 #6c360f, -2px -2px 0 #6c360f;
}

body main .pause {
  z-index: 100;
  position: absolute;
  inset: 10px 10px auto auto;
  height: 45px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: x-large;
  background-color: #6c360f;
  color: white;
}

body main .modal {
  visibility: hidden;
  z-index: 200;
  position: absolute;
  inset: 0;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

body main .modal .menu {
  position: relative;
  border: solid 5px #785221;
  border-radius: 10px;
  background-color: #d3a15f;
  color: white;
  text-align: center;
  font-size: x-large;
}

body main .modal .menu .results {
  padding: 10px;
}

body main .modal .menu .results .header {
  margin: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}

body main .modal .menu .results .time {
  margin: 20px;
}

body main .modal .menu .results .time .value {
  font-weight: bold;
  font-size: xx-large;
  text-shadow: -2px 2px 3px #785221, 2px 2px 3px #785221, 2px -2px 0 #785221, -2px -2px 0 #785221;
}

body main .modal .menu .results .rank {
  margin: 20px;
}

body main .modal .menu .results .rank .value {
  margin: 0;
  font-weight: bold;
  font-size: xx-large;
  color: #503716;
}

body main .modal .menu .results .name {
  margin: 20px;
}

body main .modal .menu .results .name .value {
  margin-top: 10px;
  height: 40px;
}

body main .modal .menu .results .name .value input {
  max-width: 160px;
  height: 100%;
  padding-inline: 8px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: larger;
  color: #503716;
}

body main .modal .menu .results .name .value button {
  height: 100%;
  aspect-ratio: 1;
  vertical-align: top;
  border: solid 3px #503716;
  border-radius: 10px;
  color: #503716;
  font-size: large;
}

body main .modal .menu .highscores {
  visibility: hidden;
  position: absolute;
  inset: 0;
  padding: 10px;
}

body main .modal .menu .highscores .header {
  margin: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
}

body main .modal .menu .highscores table {
  margin: 20px auto;
}

body main .modal .menu .highscores table tr:nth-child(odd) {
  background: #785221;
}

body main .modal .menu .highscores table td {
  padding: 10px;
  margin: 0;
}

body main .modal .menu .highscores .buttons {
  position: absolute;
  inset: auto 0 0;
  margin: 20px;
  height: 50px;
}

body main .modal .menu .highscores .buttons button {
  height: 100%;
  aspect-ratio: 1;
  border: solid 3px #503716;
  border-radius: 10px;
  color: #503716;
  font-size: larger;
}

.particle {
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ball {
  z-index: 20;
  background-image: url("../../assets/ball.png");
  background-size: contain;
}

.crater {
  z-index: 10;
  -webkit-box-shadow: inset 10px 10px 20px rgba(120, 82, 33, 0.75), inset -10px -10px 20px rgba(222, 184, 135, 0.75);
          box-shadow: inset 10px 10px 20px rgba(120, 82, 33, 0.75), inset -10px -10px 20px rgba(222, 184, 135, 0.75);
}

.finish {
  z-index: 15;
  background-color: black;
  -webkit-box-shadow: inset -5px -5px 10px grey;
          box-shadow: inset -5px -5px 10px grey;
}
/*# sourceMappingURL=styles.css.map */