.particle {
    position: absolute;

    border-radius: 50%;

    transform: translate(-50%, -50%);
}


.ball {
    z-index: 20;
    
    background-image: url("../../assets/img/ball.png");
    background-size: contain;
}


.obstacle {
    z-index: 10;
}


.crater {
    box-shadow:
        inset 10px 10px 20px hsla(34, 57%, 30%, 0.75),
        inset -10px -10px 20px hsla(34, 57%, 70%, 0.75);
}


.hill {
    box-shadow:
        10px 10px 20px hsla(34, 57%, 30%, 0.75),
        -10px -10px 20px hsla(34, 57%, 70%, 0.75);
}


.mud {
    background-color: chocolate;
}


.finish {
    z-index: 15;

    background-color: black;
    box-shadow:
        inset -5px -5px 10px grey;
}