.modal {
    .leaderboard {
        .table {
            max-height: 255px;
            margin: 10px;
            overflow: scroll;

            scrollbar-width: none;


            &::-webkit-scrollbar { 
                display: none;
            }
            

            table {
                tr:nth-child(odd) {
                    background: $primeColor;
                }
                td {
                    padding: 6px 10px;
                    margin: 0;
                }
            }
        }
    }
}