.modal {
    .help {
        p {
            width: 250px;
            overflow: scroll;
            
            text-align: left;
            word-wrap: break-word;
            white-space: normal;
        }
    }
}