@import "../../components/variables";



.modal {
    .result {
        .time {
            .value {
                font-weight: bold;
                font-size: 35px;
                color: $accentColor;
            }
        }

        .rank {
            margin: 20px;

            
            .value {
                font-weight: bold;
                font-size: 45px;
                color: $accentColor;
            }
        }

        .name {
            .value {
                margin-top: 10px;
                height: 40px;


                input {
                    max-width: 160px;
                    height: 100%;
                    padding-inline: 8px;
                    
                    outline: none;
                    border: solid 3px $primeColor;
                    border-radius: 10px;
                    font-size: 30px;
                    color: $primeColor;
                }

            }
        }
    }
}