.modal {
    .settings {
        text-align: left;

        
        .broker-log {
            height: 100px;
            width: 200px;
            overflow: scroll;

            font-size: large;
            word-wrap: break-word;
            white-space: normal;
        }
    }
}