.modal {
    .settings {
       .header {
            display: flex;
            place-items: center;
            gap: 10px;


            button {
                display: flex;
                place-items: center;

                font-size: 40px;
            }
        }
    }
}