@import "../components/variables";



button {
    border-style: solid;
    border-color: $primeColor;
    border-radius: 20px;

    background-color: transparent;
    color: white;
    font-weight: bold;
}