body {
    margin: 0;
    padding: 0;
}


.particle {
    position: absolute;

    border-radius: 50%;

    transform: translate(-50%, -50%);
}
.ball {
    background-image: url("https://cdn0.iconfinder.com/data/icons/3D-shapes-psd/256/ball-6x6.png");
    background-size: contain;
}

.crater {
    // background-image: url("https://cdn0.iconfinder.com/data/icons/3D-shapes-psd/256/ball-6x6.png");
    // background-size: contain;
    background-color: grey;
}