body {
    margin: 0;
    padding: 0;
}


main {
    position: absolute;
    inset: 0;

    overflow: hidden;
    background-image: url("https://previews.123rf.com/images/scenery1/scenery11706/scenery1170600191/80858978-wood-surface-background-wood-board-white-sheet-plywood.jpg?fj=1");
    background-size: 500px;
}