.ball {
    position: absolute;

    border-radius: 50%;
    background-image: url("https://cdn0.iconfinder.com/data/icons/3D-shapes-psd/256/ball-6x6.png");
    background-size: contain;

    transform: translate(-50%, -50%);
}